@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

button {
    background-color: cornflowerblue;
    color: white;
    font-family: "Nunito", "system-ui";
    font-weight: 700;
    padding: 1.5vh;
    border-radius: 10px;
    border: none;
    width: 15dvh;
    transition-duration: 0.1s;

}

button:active {
    background-color: #88b2f1;
    color: white;
}

#glupi {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vh;
    align-items: center;
}

#header{
    font-family: "Nunito", "system-ui";
    font-weight: 700;
    color: #88b2f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big\ number{
    font-family: "Nunito", "system-ui";
    font-weight: 700;
    color: #88b2f1;
    font-size: 25vh;
    margin: 0;
    letter-spacing: 0;
    line-height: 25vh;
}